$solidgrey: #D3D3D3;
$white: #FFF;
$peach: #fdb45c;

//Font weights
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;

//Font variables
$font-main: 'Josefin Slab', serif;
$font-sub: 'Playfair Display', serif;
