@import "bootstrap-sprockets";
@import "bootstrap";
// Partials
@import "partials/base";
//Fonts
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700,300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic);



#link_back {
  display:inline-block;
  border-bottom: 2px $solidgrey;
  margin-bottom: 50px;
}



#title {
  font-size: 2.5rem;
  padding-top: 50px;
  font-style:bold;
}
body {

  font-family: $font-main;
  text-align:center;
}

textarea {
  resize: vertical;
}

p {
  text-align: center;
}

p {
  margin-bottom: 10px;
}
